# Data files
*.xlsx
*.xls
*.csv
*.nc
*.zip
*.h5
*.hdf5
data/geo/


# Python
__pycache__/
*.py[cod]
*.egg-info/
dist
build/
.eggs/
*.egg

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# LaTeX report build artifacts
latex/report/*
!latex/report/main.tex
!latex/report/main.pdf
!latex/report/small_main.tex
!latex/report/small_main.pdf
!latex/presentation/main.tex
!latex/presentation/main.pdf

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# API keys / credentials
.env
*.key
secrets.py
